
a.skip{
  background: white;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: left 1s ease-out;
  z-index: 1;
  /* Requirement 1 code here -- Do not remove this comment. */
  position: absolute;
  left: -400px;
  top: -200px;

  
}


  /* Requirement 2 code here -- Do not remove this comment. */


/* Requirement 4 code here*/
*:focus{

  border: 10px solid yellow;
}


.container{
  /* Requirement 5 code here*/
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  row-gap: 30px;
}

/* Requirements 6-10 here: */
.intro{
  background: url("../images/header.jpg") #858585 ;


  /* Set a specific height */
  min-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about, .method, .clients, .contact{
  grid-column: 2 / span 1;
}

img{
  width: 100%;
}

.about-image, .method-image, .clients-image, .contact-image{
  grid-column: 1 / -1;
  max-height: 500px;
  overflow: hidden;
}

.about, .about-image{
  grid-row: 1 / span 1;
}

.method, .method-image{
  grid-row: 3 / span 1;
}

.clients, .clients-image{
  grid-row: 2 / span 1;
}

.contact, .contact-image{
  grid-row: 4 / span 1;
}

.text{
  align-self: center;
  max-height: 40vh;
  overflow: scroll;
}

@media screen and (min-width: 700px){
  nav{
    padding-top: 35px;
    /*Requirement 11*/
    align-items: right;
  }

  nav li{
    margin-left: 5%;
    margin-right:0;
  }

  
  /* Requirements 12-15 here: */
  a.skip:focus{
    left: 0px;
    top: 20px;
    position: absolute;
  }

  .container{
    display: grid;
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: 300px 300px 300px 300px;
  }

  .about, .method, .clients-image, .contact-image{
    grid-column: 3 / span 2;
  }

  .about-image, .method-image, .clients, .contact {
    grid-column: 2 / span 2;
  }

  text{
    align-self: center;
  }
}





/** Code for prefers reduced motion **/
/* Make no changes below this line.
   *************************************** 
   */
   @media screen and (prefers-reduced-motion: reduce){
    /*Turn off scroll*/
    html{
      scroll-behavior: auto; /* Removes scroll animation */
    }
  
    /*Turn off transition*/
    a.skip {
      -webkit-transition: initial; /* sets to default setting */
      transition: initial; /* sets to default setting */
    }
  
    /*Turn off parallax*/
    .intro{
      background-attachment: initial;
    }
  }
